
#accel_brain_beat_area {
    color: #000;
    line-height: 35px;
    background-color: #000;
}

#accel_brain_beat_area label {
    color: #C6C6C6;
    padding: 15px;    
}

#accel_brain_beat_area input {
    font-weight: bold;
    color: #000;
}

#accel_brain_beat_area .accel_brain_button {
    font-size: 20px;
    padding: 6px 14px;
    line-height: 25px;
    vertical-align: middle;
    height: auto;
    margin-bottom: 4px;
    text-align: center;
    color: #555;
    border-color: #ccc;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
    width: 80%;
    margin-top: 25px;
}

#accel_brain_beat_area div#summary, div#detail {
    float: left;
    margin-left: 30px;
    width: 80%;
    line-height: 25px;
}

#accel_brain_beat_area #detail h2 {
    font-size:18px;
}

#accel_brain_beat_area #summary li, #detail li {
    margin-bottom:10px;
}

#accel_brain_beat_area a {
    color: #fff;
}
